langchain-huggingface==0.3.1
langchain-qdrant==0.2.0
qdrant-client==1.15.0
langchain-tavily== 0.2.11
langgraph==0.6.4
duckduckgo-search==8.1.1
httpx[socks]==0.28.1
langchain-core==0.3.74
langchain_community==0.3.27
fastapi==0.116.1
uvicorn==0.35.0
transformers==4.55.1
torch==2.8.0
accelerate==1.10.0
python-dotenv==1.1.1
sentence_transformers==5.1.0
# llama-cpp-python
langchain_ollama==0.3.6
langchain_openai==0.3.30
langchain_deepseek==0.1.4
